chromadb==0.5.23
langchain==0.3.9
langchain-community==0.3.9
langchain_openai==0.2.11
pypdf==5.1.0
ollama==0.4.2
tqdm==4.67.1
streamlit==1.40.2
watchdog==6.0.0
openai==1.56.2
pymongo==4.10.1
streamlit-mic-recorder==0.0.8
standard-aifc==3.13.0
